<section>
  <h1 class="textAlignCenter noBoldText mt-3">Highscores</h1>
  <div class="scoreCard">
    <% games.forEach(game => { %>
    <div>
      <a
        class="text-decoration-none text-black"
        href="/games/<%= game.url_slug %>"
      >
        <div>
          <div class="highScoreCard">
            <h1><%= game.title%></h1>
            <p class="fontWeightBold"><%= game.score %></p>
          </div>
          <div class="highScoreCard">
            <p>
              <%= game.player%>, <%=
              game.score_date.toLocaleDateString('se-SE');%>
            </p>
          </div>
        </div>
      </a>
    </div>

    <% }) %>
  </div>
</section>
